
body {
  background-color: black;
}

#header {
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 3em;
  margin: 15px 0 25px 0;
  text-align: center;
}

.flex-container {
  align-content: flex-start;
  align-items: space-around;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
  padding: 0; /* padding-left inherited from normalize? */
}

.flex-item {
  border: 1px solid white;
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
}

.flex-item:hover {
  max-height: 457px;
}

.streamer-icon {
  float: left;
  height: 74px;
}
.streamer-icon img {
  height: 75px;
  width: 75px;
}
.streamer-name {
  font-size: 1.2em;
  margin-left: 85px;
  margin-top: 10px;
}
.streamer-name a {
  color: #fff;
  text-decoration:none;
}
.streamer-name img {
  margin-left: 7px;
  width: 16px;
}
.streamer-name a:hover {
  color: #fff;
  text-decoration:none;
}

.stream-status {
  font-size: 0.9em;
  margin-left: 95px;
  margin-top: 7px;
}

.stream-preview {
  clear: both;
}

.stream-preview img {
  border-top: 1px solid white;
  margin: 1px 0 -5px 0;
  max-width: 640px;
  padding: 0;
}

.stream-preview-info {
  background-color: #000;
  color: #0c0;
  font-size: 0.8em;
  font-weight: bold;
  height: 18px;
  padding: 5px 7px 0 0;
  text-align: right;
}

.channel-featured {
  background-color: #0c0;
  order: 0;
}

.channel-online {
  background-color: #0c0;
  order: 1;
}

.channel-offline {
  background-color: #999;
  order: 2;
}

.channel-closed {
  background-color: #999;
  order: 3;
}

#row-filter {
  align-items: flex-end;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
}

.channel-filter {
  background-color: #6441a5;
  border: 1px solid white;
  color: white;
  font-family: 'Viga', sans-serif;
  font-size: 1.4em;
  padding: 5px 15px 5px 15px;
  text-align: center;
  transition: 0.2s ease-in;
  width: 33%;
}

.channel-filter:hover {
  background-color: #8161BC;
  cursor: pointer;
}

.hidden {
  border: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
  width: 0;
}

span {
  position: absolute;
}

[tooltip]{
  margin: 0;
}

[tooltip]::before {
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    border-style: solid;
    border-width: 4px 6px 0 6px;
    content: "";
    left:50%;
    opacity: 0;
    position: relative;
    top:-6px;
    transform: translateX(-50%);
    z-index: 99;
}

[tooltip]::after {
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    left:50%;
    min-width: 250px;
    opacity: 0;
    padding:4px 2px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top:-9px;
    transform: translateX(-50%) translateY(-100%);
    z-index: 99;
}

[tooltip-position='top']::before{
  left:50%;
}

[tooltip-position='top']::after{
  left:50%;
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}
