
body {
  background-color: black;
}

#header {
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 3em;
  margin: 15px 0 25px 0;
  text-align: center;
}

.flex-container {
  align-content: flex-start;
  align-items: space-around;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
  padding: 0; /* padding-left inherited from normalize? */
}

.flex-item {
  border: 1px solid white;
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s;
}

.flex-item:hover {
  max-height: 457px;
}

.streamerIcon {
  float: left;
  height: 74px;
}
.streamerIcon img {
  height: 75px;
  width: 75px;
}
.streamerName {
  font-size: 1.2em;
  margin-left: 85px;
  margin-top: 10px;
}
.streamerName a {
  color: #fff;
  text-decoration:none;
}
.streamerName img {
  margin-left: 7px;
  width: 16px;
}
.streamerName a:hover {
  color: #fff;
  text-decoration:none;
}

/*Need to resize bootstrap tooltip so that long bio text can fit inside and not overflow. */
div.tooltip-inner {
  max-width: 350px;
}

.streamStatus {
  font-size: 0.9em;
  margin-left: 95px;
  margin-top: 7px;
}

.streamPreview {
  clear: both;
}

.streamPreview img {
  border-top: 1px solid white;
  margin: 1px 0 -5px 0;
  max-width: 640px;
  padding: 0;
}

.streamPreviewInfo {
  background-color: #000;
  color: #0c0;
  font-size: 0.8em;
  font-weight: bold;
  height: 18px;
  padding: 5px 7px 0 0;
  text-align: right;
}

.channelFeatured {
  background-color: #0c0;
  order: 0;
}

.channelOnline {
  background-color: #0c0;
  order: 1;
}

.channelOffline {
  background-color: #999;
  order: 2;
}

.channelClosed {
  background-color: #999;
  order: 3;
}

#filterRow {
  align-items: flex-end;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
}

.channelFilter {
  background-color: #6441a5;
  border: 1px solid white;
  color: white;
  font-family: 'Viga', sans-serif;
  font-size: 1.4em;
  padding: 5px 15px 5px 15px;
  text-align: center;
  transition: 0.2s ease-in;
  width: 33%;
}

.channelFilter:hover {
  background-color: #8161BC;
  cursor: pointer;
}

.hidden {
  border: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
  width: 0;
}
