
body {
  background-color: black;
}

/*



*/
#header {
  font-size: 3em;

font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  color: white;
  margin-top: 15px;
  margin-bottom: 25px;
}

#header a {
  outline : none; /* Removing outline of link for about section. */
}

/* For info icon (i.e. about section). */
#header img {
  width: 15px;
  margin-top: -30px;
  margin-left: -5px;

}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
  margin: 0 auto;
  align-items: space-around;
  align-content: flex-start;
  padding: 0; /* padding-left inherited from normalize? */
  list-style-type: none;
}

.flex-item {
  border: 1px solid white;
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;

  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.flex-item:hover {
	max-height: 457px;
}

.streamerIcon {
  float: left;
  height: 74px;
}
.streamerIcon img {
  width: 75px;
  height: 75px;
}
.streamerName {
  font-size: 1.2em;
  margin-left: 85px;
  margin-top: 10px;
}
.streamerName a {
  text-decoration:none;
  color: #fff;
}
.streamerName img {
  width: 16px;
  margin-left: 7px;
}
.streamerName a:hover {
  text-decoration:none;
  color: #fff;
}

/*Need to resize bootstrap tooltip so that long bio text can fit inside and not overflow. */
div.tooltip-inner {
    max-width: 350px;
}

.streamStatus {
  margin-left: 95px;
  margin-top: 7px;
  font-size: 0.9em;
}

.streamPreview {
  clear: both;

}

.streamPreview img {
  max-width: 640px;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  border-top: 1px solid white;
  margin-bottom: -5px;
}

.streamPreviewInfo {
  height: 18px;
  background-color: #000;
  color: #0c0;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 7px;
  font-size: 0.8em;
  text-align: right;
}

.channelFeatured {
  background-color: #00cc00;
  order: 0;
}
.channelOnline {
  background-color: #00cc00;
  order: 1;
}

.channelOffline {
  background-color: #999;
  order: 2;
}

.channelClosed {
  background-color: #999;
  order: 3;
}

#filterRow {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.channelFilter {
  background-color: #6441a5;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 1.4em;
  font-family: 'Viga', sans-serif;
  text-align: center;
  border: 1px solid white;
  width: 33%;
  transition: 0.2s ease-in;
}

.channelFilter:hover {
  background-color: #8161BC;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
}
