
body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  max-width: 642px; /* width of preview image from twitch plus 1 for left and right borders. */
  margin: 0 auto;
  align-items: space-around;
  align-content: flex-start;
}

.flex-item {
  border: 1px solid white;
  max-width: 640px;
  height: 436px;
  margin-bottom: 10px;
  background-color: #00cc00;
}

.streamerIcon {
  float: left;
  height: 75px;
}
.streamerIcon img {
  width: 75px;
  height: 75px;
}
.streamerName {
  font-size: 1.2em;
  margin-left: 85px;
  margin-top: 10px;
}
.streamerName a {
  text-decoration:none;
  color: #fff;
}
.streamGame {
  margin-left: 95px;
  margin-top: 7px;
}

.streamPreview {
  clear: both;
  background-color: #FFF;
  height: 356px;
}
.streamPreview img {
  max-width: 640px;
  margin: 0;
  padding: 0;
  margin-top: 1px;

}
/*
.userIcon {
  width: 50px;
  height: 50px;
}

.previewRow {
  clear: both;
  padding-top: 10px;

}
.previewRow img {
  width: 100%;
}
.channel {
  border: 1px solid white;
}

#header {
  margin: auto;
  margin-top: 25px;
  width: 550px;
}


#channels {
  margin: auto;
  width: 550px;
}

.channel_filter {
  background-color: #6441a5;
  color: white;
  height: 50px;
  padding-top: 10px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;

}

.filter_selected {
  color: white;
}

.channel_filter:hover {
  background-color: #7354ae;
  cursor: pointer;
}

.twitch_link {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

.twitch_status {
  display: block;
  margin-top: 15px;
}

.channel_offline {
  background-color: #DDD;
}

.channel_online {
  background-color: #00cc00;
}
.channel_online a {
  color: white;
}

.hidden {
  visibility: hidden;
}
*/
